body{ 
    margin: 0; 
    font-family: sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    justify-content: center; 
    background: url("https://cdn.pixabay.com/photo/2023/04/10/10/30/keyboard-7913431_960_720.jpg"); 
    background-size: cover; 
    overflow: hidden; 
 
} 
 
h2{ 
    color: antiquewhite; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    font-size: 15px; 
    text-align: center; 
 
} 
 
.clock{ 
    display: flex;
} 
 
.clock div{ 
    margin: 5px; 
} 
 
.clock span,
.clock #ampm { 
    width: 100px; 
    height: 80px; 
    background: teal; 
    opacity: 0.8; 
    color: burlywood; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 45px; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .3); 
} 
 
.clock .text{ 
    height: 30px; 
    font-size: small; 
    text-transform: uppercase; 
    letter-spacing: 1.5px; 
    background: gray; 
    opacity: 0.8; 
 
} 
 
.clock #ampm{ 
    display: flex;
    margin-top: 59px;
    margin-bottom: 10px; 
    width: 50px; 
    height: 50px; 
    font-size: 20px; 
    background:green;
}